.informer-container{
  position:fixed;
  right: 40px;
  top: 40px;
  background-color: beige;
  width:400px;
  height:200px;
  z-index: 999999;
  border-radius: 5px;
  border: 1px dashed #007ac1;
  padding: 12px;
}